*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-color: rgb(37, 147, 210);
    --header-color: white;
    --content-color: rgb(226, 232, 240);
    --card-border-color: rgb(239, 179, 59);
}

#container {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    grid-template-columns: 1fr 3fr;
}

#sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--sidebar-color);
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;

    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--header-color);
}

#content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--content-color);
}

.logo {
    height: 15px;
    width: 15px;
}

